body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  overflow: scroll;
}
li {
  display: flex;
  align-items: center; 
}

li img {
  height: 30px;
  width: 30px;
  border: 0px solid;
  margin-right: 10px;
}
img {
  height: 50px;
  width: 50px;
  border: 2px solid #fffb00;
}

textarea {
  display: block;
  box-sizing: border-box;
  justify-content: center;
  margin-bottom: 20px;
  background-color: rgb(33, 33, 33);
  border: 2px solid #fffb00;
  border-radius: 20px;
  height: 90%;
  width: 90%;
  color: white;
  text-align: center;
  padding: 40px;
  font-size: large;
  margin-top: 50px;
}

#resultado {
  color: white;
  padding: 10px;
}

#info {
  color: white;
}

#info2 {
  color: white;
}

#titulo {
  color: white;
}

#submit {
  background-color: rgb(33, 33, 33);
  color: #fffb00;
  border: 2px solid #fffb00;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: -27px;
}

#volver {
  background-color: rgb(33, 33, 33);
  color: #fffb00;
  border: 2px solid #fffb00;
  padding: 10px;
  border-radius: 10px;
}

#exercise {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  justify-content: center;
}

.top-header {
  height: 30px;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
}

.sinborde {
  border: 0px solid transparent;
  width: 40px;
  height: 40px;
}

.sinborde2 {
  border: 0px solid transparent;
  width: 20px;
  height: 20px;
}

.sinborde3 {
  border: 0px solid transparent;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  justify-self: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.nav-item a {
  color: #fffb00;
  text-decoration: none;
  font-size: 18px;
}

.nav2 {
  justify-self: center;
}

.nav-list2 {
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 200px;
  align-items: flex-end;
}

.nav-item2 a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #000000;
  color: #fffb00;
  box-sizing: border-box;
  height: 100px;
}

.e {
  color: black;
}

.search {
  justify-self: end;
}

.neon-label {
  font-size: 30px;
  /* Tamaño de fuente del texto */
  color: #000000;
  /* Color del texto */
  text-shadow: 0 0 10px #ffea00, 0 0 20px #ffea00, 0 0 30px #ffea00, 0 0 40px;
  /* Propiedad de sombra para el efecto de neón */
  margin-top: 20px;
}

.neon-border {
  /* Alto del div */
  background-color: black;
  /* Color de fondo */
  border-radius: 20px;
  /* Radio de borde para suavizar las esquinas */
  box-shadow: 0 0 10px #ffea00, 0 0 20px #ffea00, 0 0 30px #ffea00,
    0 0 40px #ffea00;
  /* Propiedad de sombra para el efecto de neón */
}

.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 45px;
  background-color: #000000;
  padding: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 170px auto auto;
  box-sizing: border-box;
  background-image: url(../fondo.jpg);
}

.item {
  border: 1px solid #000;
  font-size: 30px;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.item2 {
  grid-column: 4;
  grid-row: 2 /4;
  background-color: #ffea0022;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item1 {
  grid-column: 1 / 5;
  grid-row: 1;
  background-color: #645c0080;
}

.item4 {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
  background-color: #ffea0022;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  justify-self: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.search {
  justify-self: end;
}

@media only screen and (max-width: 768px) {
  /* Ajustes para la pantalla de móvil */
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr auto 0.2fr;
    grid-row-gap: 1;
  }

  .item1 {
    grid-column: 1;
    grid-row: 1;
  }

  .item1 label {
    font-size: 18px; /* Cambia el tamaño de texto a 18px */
  }

  .item2 {
    grid-column: 1;
    grid-row: 3;
  }

  .item4 {
    grid-column: 1;
    grid-row: 2;
  }

  .top-header {
    display: none;
  }

  .logo img {
    width: 80px;
    height: 80px;
    margin-right: 40px;
  }

  .search {
    display: none; /* Quita el icono de lupa */
  }

  .header {
    height: auto;
    padding: 1em;
    background-color: #000000;
    text-align: center;
  }

  .nav-list {
    flex-direction: row;
  }

  .nav-item {
    margin-bottom: 1em;
  }

  textarea {
    margin-top: 20px;
  }
}
